.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 1rem;
}

.spinner {
  font-size: 3rem;
  color: #ffffff;
}

.loadingContainer p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
