.weatherContainer {
  background-color: #39383d;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

/* search */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.search input {
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  padding: 10px;
  padding-left: 20px;
  border: 2px solid black;
}
.search input:focus {
  outline: none;
}

.search button {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: 2px solid black;
}

/* weather image */
.weatherImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* weather info */
.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative; /* only if you want to use absolute inside */
}
.weatherInfo h1 {
  font-size: 4rem;
  font-weight: 300;
}
.weatherInfo h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.tempType {
  position: absolute;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.tempType button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.tempType button:hover {
  color: rgb(212, 212, 212);
}
.tempType p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
}

/* more info */
.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: white;
  /* border-radius: 15px; */
  gap: 1rem;
}
.spacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.moreInfoIcon {
  font-size: 1.5rem;
}
.moreInfo p {
  font-weight: 300;
  letter-spacing: 1px;
  text-align: start;
}
.topInfo {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: start;
}
.bottomInfo {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: start;
}
.moreInfoData {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
